.option{
    background-color: #ffffff;
    block-size: 100%;
    padding: 2%;
}

.option-3 {
    padding-bottom: 5%;
}

input#edit {
    inline-size: -webkit-fill-available;
    block-size: 22px;
    color: #d1d1d1;
}
.edicion{
    margin-bottom: 2em;
}
h2{
    font-size: 15px;
}
label{
    margin: 0;
}
.edit{
    float: left;
    margin-bottom: auto;
}
input{
    border-radius: 25px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 16px;
    float: right;
    margin-right: 5%;
}
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .guardar{
      float: right;
      border-radius: inherit;
      border-radius: 10px;
      margin-right: 5%;
      margin-top: -1%;
      min-block-size: 45px;
      inline-size: 150px;
  }
