.container-link{
    background-color: #ffffff;
    block-size: 100%;
    align-items: center;
    padding: 2%;
}
.container-text{
    justify-items: inherit;
    align-items: center;
    -moz-box-align: center;
    text-align: center;
    padding-top: 100px;
    padding: inherit;
}
.link{
    margin-bottom: 2em;
}
.link-f{
    display: flex;
    align-content: flex-end;
    block-size: auto;
}
.container-buttom{
    
    justify-content: space-between;
    display: flex;
    align-self: end;
    
}
.cointainer-opt{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-end;
    align-items: flex-end;
}
input{
    border-color: #d1d1d1;
    border-radius: 12px  ;
    block-size: 25px;
}
.text{
    counter-increment: initial;
    color: #d1d1d1;
}
.action{
    margin-top: 10%;
    block-size: auto;
}
.Cancelar{
    float: right;
    border-radius: inherit;
    border-radius: 10px;
    margin-right: 5%;
    margin-top: -1%;
    min-block-size: 45px;
    inline-size: 150px;
    border-color: aqua;
    color: aqua;
    margin-bottom: 10px;
}
.publicar{
    float: right;
    border-radius: inherit;
    border-radius: 10px;
    margin-right: 5%;
    margin-top: -1%;
    min-block-size: 45px;
    inline-size: 150px;
    border-color: brown;
    margin-bottom: 10px;
    margin-left: 5px;
    color: brown;
}
p{
    align-content: center;
}
label{
    font-size: 15px;
    align-self: end;
}
