body{
    padding: 0;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.header{
    display: flex;
    align-items: center;
    -webkit-box-shadow: 2px 0px 17px -4px rgba(0,0,0,0.76);
    -moz-box-shadow: 2px 0px 17px -4px rgba(0,0,0,0.76);
    box-shadow: 2px 0px 17px -4px rgba(0,0,0,0.76);
    padding: .5%;
    padding: 0;
    margin: 0;
    justify-content: space-evenly;
}

.iconHeader{
  width: 10%;
}

.logo{
    display: flex;
    align-items: center;
}

.user{
  text-align: right;
}

.searcher{
  outline: none;
  width: 100%;
  height: 35px;
  padding: 4%;
  border-radius: 25px 0 0 25px;
  border: 1px solid lightgray;
}

.buscador{
  display: flex;
align-items: center;
}