:root {
  --fuenteHeading: 'Raleway', sans-serif;
  --fuenteParrafos: 'Raleway', sans-serif;

  --primario: #0F1852;
  --azul: #2A4BA6;
  --azulito: #0B2694;
  --gris: #707070;
  --amarillo: #D49400;
  --blanco: #ffffff;
  --negro: #000000;
  --verde: #30BF3E;
  --acqua: #10B5AB;
  --rojo: #AD2225;
  --naranja: #F26621;
}

body{
    padding: 0;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header{
    display: flex;
    align-items: center;
    -webkit-box-shadow: 2px 0px 17px -4px rgba(0,0,0,0.76);
    -moz-box-shadow: 2px 0px 17px -4px rgba(0,0,0,0.76);
    box-shadow: 2px 0px 17px -4px rgba(0,0,0,0.76);
    padding: .5%;
    margin: 0;
    justify-content: space-evenly;
    height: auto;
}

.title{
  color: var(--primario)
}

.iconHeader{
  width: 10%;
}

.logo{
    display: flex;
    align-items: center;
    font-size: 115%;
    font-weight: bold;
    width: 25%;
}

.user{
  text-align: right;
  display: flex;
  width: 6%;
  justify-content: space-evenly;
  align-items: center;
  height: auto;
  border: 1px solid lightgray;
  padding: .75%;
  border-radius: 25px;
  font-size: 100%;
  cursor: pointer;
}

.searcher{
  outline: none;
  width: 100%;
  height: 38px;
  padding: 4%;
  border-radius: 25px 0 0 25px;
  border: 1px solid lightgray;
  font-size: 100%;
  border-right: none;
}

.buscador{
  display: flex;
  align-items: center;
  width: 30%;
}

.iconSearch{
  padding: 2.3%;
  border: 1px solid lightgray;
  border-radius: 0 25px 25px 0;
  width: 8%;
  text-align: center;
  height: 18px;
  border-left: none;
}

.loginText{
  font-size: 105%;
}