
.co2{
    margin-top: 10px;
    height: 15px 15px;
    box-shadow: 2px 2px 5px rgb(206, 205, 205);
}
.co3{
    text-align:justify;
    padding-left: 3.5rem;
    padding-right: 1.5rem;

}
.al2{
    background-color:aliceblue;
    margin-top: 12px !important;
    border-radius: 9px;
}
img.izquierda {
    float: left;
}
.fo{
    display: flex;
    align-items: center;
    gap: 1%;
    height: 50px;
}
.butt{
    margin-top: 1rem;
    display: flex;
    justify-content: right;
    background-color: aliceblue;
    border: none;
    text-align: right;
    gap: 1%;
    align-items: center;

}
.butt1 {
    display: flex;
    justify-content: right;
    background-color: aliceblue;
    border: none;
    text-align: right;
    gap: 5%;
    align-items: center;
}
.le{
    font-weight: bolder;
}
