
body{
    padding: 0;
    margin: 0;
}

.header{
    display: flex;
    align-items: center;
    color: white;
    background-color: #0F1852;
    margin: 0% auto;
    justify-content: space-evenly;
    height: 150px;
}

.title{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    position: absolute;
    top: 8%;
    left: 35%
}