:root {
    --fuenteHeading: 'Raleway', sans-serif;
    --fuenteParrafos: 'Raleway', sans-serif;
  
    --primario: #0F1852;
    --azul: #2A4BA6;
    --azulito: #0B2694;
    --gris: #707070;
    --amarillo: #D49400;
    --blanco: #ffffff;
    --negro: #000000;
    --verde: #30BF3E;
  }
  
  body{
      padding: 0;
      margin: 0;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background: url("../images/celebracion1.png");
      background-attachment: fixed; 
  }
  
  .header{
      display: flex;
      align-items: center;
      -webkit-box-shadow: 2px 0px 17px -4px rgba(0,0,0,0.76);
      -moz-box-shadow: 2px 0px 17px -4px rgba(0,0,0,0.76);
      box-shadow: 2px 0px 17px -4px rgba(0,0,0,0.76);
      padding: .5%;
      margin: 0;
      justify-content: space-evenly;
      height: auto;
  }
  
  .title{
    color: var(--primario)
  }
  
  .iconHeader{
    width: 10%;
  }
  
  .logo{
      display: flex;
      align-items: center;
      font-size: 115%;
      font-weight: bold;
      width: 25%;
  }
  
  .user{
    text-align: right;
    display: flex;
    width: 6%;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    border: 1px solid lightgray;
    padding: .75%;
    border-radius: 25px;
    font-size: 100%;
    cursor: pointer;
  }
  
  .searcher{
    outline: none;
    width: 100%;
    height: 38px;
    padding: 4%;
    border-radius: 25px 0 0 25px;
    border: 1px solid lightgray;
    font-size: 100%;
    border-right: none;
  }
  
  .buscador{
    display: flex;
    align-items: center;
    width: 30%;
  }
  
  .iconSearch{
    padding: 2.3%;
    border: 1px solid lightgray;
    border-radius: 0 25px 25px 0;
    width: 8%;
    text-align: center;
    height: 18px;
    border-left: none;
  }
  
  .loginText{
    font-size: 105%;
  }


  .formRegister{
    display: flex;
    flex-direction: column;
    padding: 5px;
    text-align: left;
    
    
}



.form-control {
    display: block;
    color: #212529;
    background-color: #fff;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 5rem;
    padding: 2%;
    margin-top: 0.5%;
    margin-bottom: 2%;
    

}


.containerPrimary{
  background: var(--primario);
  width: 50%;
  margin: 0 auto;
  margin-top: 0px;
  margin-top: 3%;
  border-radius: 25px;



}


.label{
color: var( --blanco);
margin-bottom: 2%;



}



.container2{
  text-align: center;
  padding: 15px;
  margin: 0 auto;
  width: 70%;

}


.Boton{
  background-color: var(--verde);
  border-color: var(--verde);
  border-radius: 25px 25px 25px 25px;
  width: 40%;
  padding: 2%;
  font-size: large;
  color: var(--blanco);
  margin: 0 auto;
  
}


.Img{
 width: 10%;
 height: 45px;
 display: flex;
}

#botones{
  display: flex;
  margin-top: 5%;
}


#imagenesLogo{
  display: flex;
  
}


.imageProfile{
  width: 90%;
}